body {
  margin: 0;
  background: #1F2937;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.unpopulated-state {
  position: relative; 
  width:  550px;
  height: 700px;
  background: #1F2937;
  border-radius: 5px;
  box-shadow:
    0 20px 20px rgba(0, 0, 0, 0.45),
    0 2px 6px rgba(0, 0, 0, 0.35);
}

.Line{
  position:absolute;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);
  width: 446px;
  border: 1px solid #2F3E53;
}

.Rectangle1{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 550px;
    left: 50%;
    transform: translateX(calc(-50% - 118px));
    width:211px;
    height:39px;
    background:#273549;
    border-radius:6px;
}

.Rectangle{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 550px;
    left: 50%;
    transform: translateX(calc(-50% + 118px));
    width:211px;
    height:39px;
    background:#273549;
    border-radius:6px;
}

.Rectangle1 p, .Rectangle p {
color: #10B981;
}

.GenerateButton
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;

position: absolute;
width: 191px;
height: 42px;
left: 52px;
top: 284px;

background: #10B981;

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
border: none;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;

}

.Heading 
{
position: absolute;
width: 354px;
height: 80px;
left: 52px;
top: 115px;

font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;
letter-spacing: -0.025em;

color: #FFFFFF;


}

.Heading1 
{

position: absolute;
width: 354px;
height: 50px;
left: 52px;
top: 155px;

font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;
letter-spacing: -0.025em;

color: #10B981;
}

.HeadingP
{

position: absolute;
width: 372px;
height: 28px;
left: 52px;
top: 205px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;

color: #D5D4D8;


}

.range-container {
  margin: 20px 0;
  color: #D5D4D8;
  font-family: 'Inter';
  position:absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  width: 446px;
}

.range-container label {
    display: block;
    margin-bottom: 6px;
}

input[type="range"] {
  appearance: none;          
  -webkit-appearance: none; 
  
  width: 100%;
  height: 6px;
  background: #273549;
  border-radius: 10px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;

  width: 18px;
  height: 18px;
  background: #10B981;
  border-radius: 50%;
  cursor: pointer;
}

.options {
  color: #D5D4D8;
  font-family: 'Inter';
  position:absolute;
  top: 360px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Inter', sans-serif;
  display: flex; 
  gap: 100px;
}

.options label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #D5D4D8;
  font-size: 20px;
}

.options input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  width: 18px;
  height: 18px;
  border: 2px solid #273549;
  border-radius: 4px;
  background-color: transparent;

  display: grid;
  place-content: center;
  cursor: pointer;
}


.options input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #10B981;
  border-radius: 2px;

  transform: scale(0);
  transition: transform 120ms ease-in-out;
}


.options input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.options input[type="checkbox"]:hover {
  border-color: #10B981;
}

